<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zainabiya Tours & Travels</title>
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="lato-regular">
    <!-- Small navbar -->
    <div class="small-nav">
      <div class="small-nav_left">
        <div>
          <a href="tel:+919103597839">
            <i class="fa-solid fa-phone icons"></i> +91 9103597839
          </a>
        </div>
        <div>
          <a href="mailto:ztt@gmail.com">
            <i class="fa-solid fa-envelope"></i> ztt@gmail.com
          </a>
        </div>
      </div>

      <div class="small-nav_right">
        <a href="https://x.com/ndtv/status/1887124340845777156?s=61">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://x.com/ndtv/status/1887124340845777156?s=61">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://x.com/ndtv/status/1887124340845777156?s=61">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://x.com/ndtv/status/1887124340845777156?s=61">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Large navbar -->
    <div class="large-nav">
      <div>
        <img
          src="../assets/images/rao_logo-1.webp"
          alt="logo"
          width="150px"
          height="70px"
        />
      </div>
      <div class="large-nav_links">
        <a href="">Home</a>
        <a href="">About Us</a>
        <div class="dropdown">
          <a>Destinations</a>
          <div class="dropdown-content">
            <p>Hello World!</p>
          </div>
        </div>
        <a href="">Experiences</a>
        <a href="">Inquiry Now</a>
      </div>
      <div class="large-nav_buttons">
        <a href="">Contact Us</a>
        <a href="">Pay Now</a>
      </div>
    </div>

    <!-- Hero section -->
    <section class="hero-section">
      <div class="hero-section_text">
        <h1 class="raleway-bold">Welcome To</h1>
        <h1 class="raleway-italic title">Zainabiya Tours & Travels</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa fuga
          numquam modi enim voluptates maxime est, blanditiis saepe corrupti
          esse voluptatem doloribus, aperiam sapiente voluptatibus vero odit
          dignissimos illum hic.
        </p>
        <div class="hero-section_button">
          <a href="">About Us</a>
        </div>
      </div>
    </section>
  </body>
</html>
