<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </head>
  <body>
    <div class="flex justify-end pr-44 border-b-1 border-gray-400 h-10">
      <div
        class="border-r border-l border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-phone pr-1 text-sm"></i> 9103597839
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-heart pr-1 text-sm"></i> Care
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-location-dot pr-1 text-sm"></i> Stores
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-right-to-bracket pr-1 text-sm"></i> Login
      </div>
    </div>

    <div class="flex h-16 items-end px-48">
      <div class="pt-10">
        <img
          src="https://www.thomascook.in/images/logo.jpg"
          alt="logo"
          srcset=""
        />
      </div>
      <div class="flex pb-2 pl-32">
        <div class="px-4 text-gray-500">Holidays</div>
        <div class="px-4 text-gray-500">Forex</div>
        <div class="px-4 text-gray-500">Hotels</div>
        <div class="px-4 text-gray-500">Flights</div>
        <div class="px-4 text-gray-500">Cruise</div>
        <div class="px-4 text-gray-500">Eurail</div>
        <div class="px-4 text-gray-500">Loyalty</div>
        <div class="px-4 text-gray-500">Gift Cards & Offers</div>
      </div>
    </div>

    <div id="controls-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://www.thomascook.in/images/india-around/2025/feb/char-dham-WB-18.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-700 ease-in-out"
          data-carousel-item="active"
        >
          <img
            src="https://www.thomascook.in/images/home-page-banners/2025/forex-cashback-1920x545-1.jpg"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://www.thomascook.in/images/home-page-banners/2025/disney-cruise-line-1920x545.jpg"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://www.thomascook.in/images/home-page-banners/2025/bhutan-jma-1920x545.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>

    <div class="bg-cyan-600 pt-5 pb-3 opacity-90">
      <form action="" class="flex flex-col items-center">
        <div>
          <p class="text-white text-2xl pb-2">
            I want to holiday in and around...
          </p>
          <div class="flex">
            <input type="text" class="h-8 rounded-md" />
            <input type="text" class="h-8 rounded-md" />
            <input type="text" class="h-8 rounded-md" />
            <button class="bg-blue-800 px-3 rounded-md py-1 text-white ml-2">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
