<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="flex justify-end pr-44 border-b-1 border-gray-400 h-10">
      <div
        class="border-r border-l border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-phone pr-1 text-sm"></i> 9103597839
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-heart pr-1 text-sm"></i> Care
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-location-dot pr-1 text-sm"></i> Stores
      </div>
      <div
        class="border-r border-gray-400 py-5 px-4 flex items-center hover:bg-blue-700 hover:text-white duration-300 ease-in-out cursor-pointer"
      >
        <i class="fa-solid fa-right-to-bracket pr-1 text-sm"></i> Login
      </div>
    </div>
    <div></div>
  </body>
</html>
