* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icons {
  font-size: 15px;
}

.small-nav {
  background-color: rgb(0, 60, 111);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  height: 35px;
  font-size: 15px;
}

.small-nav_left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.small-nav_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
